* {
    border: none;
    border-radius: 0;
    font-family: "Ubuntu Mono";
    font-size: 11px;
    min-height: 0;
}

window#waybar.top {
    background: transparent;
    color: #ffffff;
}

window#waybar.bottom {
    background: transparent;
    color: #ffffff;
}

tooltip {
    background: #101010;
    border: 1px solid #181818;
    border-radius: 4px;
    margin: 32px;
}

tooltip label {
    color: #ffffff;
}

#battery,
#custom-audio,
#custom-backlight1,
#bluetooth {
    margin-left: 8px;
}

#custom-poweroff,
#custom-mic,
#custom-optimus,
#custom-governor {
    margin-right: 8px;
}

#custom-energy {
    margin-right: 0px;
    margin-left: 0;
}

#bluetooth.disabled
#bluetooth.off,
#network.disconnected,
#network.disabled {
    color: #484848;
}

#battery.discharging {
    color: #FA9C39;
}

#battery.warning:not(.charging) {
    color: #FA9C39;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    color: #DE381F;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #ffffff;
    }
}

.warning {
    color: #FA9C39;
}

.critical {
    color: #DE381F;
}

#workspaces {
    background: transparent;
    color: #ffffff;
}
	
#workspaces button {
    background: transparent;
    margin: 0;
    padding: 0;
    color: #484848;
}

#workspaces button:hover {
    background: transparent;
}

#workspaces button.active {
    background: transparent;
    color: #ffffff;
}
